@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: night --default;
}

@plugin "daisyui/theme" {
  name: "night";
  default: true;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-geist-sans: var(--geist-sans);
  --font-geist-mono: var(--geist-mono);
}

@theme inline {
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-admin: var(--admin);
  --color-compras: var(--compras);
  --color-bodega: var(--bodega);
}

:root {
  --chart-1: hsl(12, 76%, 61%);
  --chart-2: hsl(173, 58%, 39%);
  --chart-3: hsl(197, 37%, 24%);
  --chart-4: hsl(43, 74%, 66%);
  --chart-5: hsl(27, 87%, 67%);
  --admin: hsl(198, 92%, 65%);
  --compras: hsl(142, 72%, 45%);
  --bodega: hsl(48, 96%, 53%);
}

.dark {
  --chart-1: hsl(220, 70%, 50%);
  --chart-2: hsl(160, 60%, 45%);
  --chart-3: hsl(30, 80%, 55%);
  --chart-4: hsl(280, 65%, 60%);
  --chart-5: hsl(340, 75%, 55%);
  --admin: hsl(198, 92%, 65%);
  --compras: hsl(142, 72%, 45%);
  --bodega: hsl(48, 96%, 53%);
}

@layer base {
  * {
    @apply border-base-content/10 scroll-smooth;
  }
  body {
    @apply bg-base-300 text-base-content;
  }
  [role="button"],
  button {
    cursor: pointer;
  }
}
