@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "night";
  default: true;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --text-xxs: 0.625rem;
  --font-geist-sans: var(--geist-sans);
  --font-geist-mono: var(--geist-mono);
}

@theme inline {
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-admin: var(--admin);
  --color-compras: var(--compras);
  --color-bodega: var(--bodega);
}

:root {
  --chart-1: var(--color-secondary);
  --chart-2: var(--color-accent);
  --chart-3: var(--color-info);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --admin: hsl(198, 92%, 65%);
  --compras: hsl(142, 72%, 45%);
  --bodega: hsl(48, 96%, 53%);
}

@layer base {
  * {
    @apply border-base-content/10 scroll-smooth;
  }
  body {
    @apply bg-base-300 text-base-content;
  }
  [role="button"],
  button {
    cursor: pointer;
  }
}

.filepond--root {
  @apply mb-0!;
}

.filepond--panel-root {
  @apply bg-base-100! rounded-box! overflow-hidden!;
}

.filepond--drop-label {
  @apply text-base-content!;
}

.filepond--root .filepond--credits {
  @apply hidden;
}

.filepond--image-preview-overlay-success {
  @apply text-success!;
}

.filepond--image-preview-overlay-failure {
  @apply text-error!;
}

.filepond--item-panel {
  @apply bg-neutral!;
}

.filepond--panel[data-scalable="true"] {
  @apply bg-neutral!;
}
